body, html {
	border: none;
	margin: 0;
	padding: 0;
	width: 1280px;
	height: 720px;
    background: #000;
    background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(#602), to(#000));
    background-image: -moz-radial-gradient(center 45deg, circle closest-side, #602 0, #000 1000px);
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #eee;
	text-shadow: 0 0 4px #000;
}

h1 {
	font-size: 6em;
	text-align: center;
	margin: 0;
}

.container {
	margin: 0;
	padding: 0;
	border: none;
	text-align: center;
}

.doors-view {
	margin: 2em 0;
}

.doors-view * {
	border-top-left-radius: 50% 35%;
	border-top-right-radius: 50% 35%;
}

.doors-view .doorway {
	margin: 0 1%;
	width: 30%;
}

.doors-view .doorway .door {
	background: yellow;
	box-shadow: 0 0 10px black;
}

.doors-view .doorway .door:before {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	font-size: 18em;
	text-align: center;
	font-weight: bold;
	display: block;
	content: '2';
}

.doors-view .doorway:first-child {
	/* use skewY because rotateY here breaks clicking in webkit! */
	-webkit-transform: skewY(-3deg) translateY(10px);
	-moz-transform: skewY(-3deg) translateY(10px);
	transform: skewY(-3deg) translateY(10px);
}

.doors-view .doorway:first-child .door {
	background: red;
}

.doors-view .doorway:first-child .door:before {
	content: '1';
}

.doors-view .doorway:last-child {
	/* use skewY because rotateY here breaks clicking in webkit! */
	-webkit-transform: skewY(3deg) translateY(10px);
	-moz-transform: skewY(3deg) translateY(10px);
	transform: skewY(3deg) translateY(10px);
}

.doors-view .doorway:last-child .door {
	background: blue;
}

.doors-view .doorway:last-child .door:before {
	content: '3';
}

.doors-view .doorway .content {
	background-color: #333;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 40px black;
}

.doors-view .doorway .content.small-furry-animal {
	background-image: url(img/sfa.png);
}

.doors-view .doorway .content.juergen {
	background-image: url(img/juergen.png);
}

/* TODO: Remove, don't really need this */
.doors-view .doorway .content.unknown:before {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	font-size: 18em;
	text-align: center;
	font-weight: bold;
	content: '?';
}

.doors-view .closed .door {
	-webkit-transform: perspective(0px) rotateY(0);
	-moz-transform: perspective(0px) rotateY(0);
	transform: perspective(0px) rotateY(0);
}

.doors-view .opened .door {
	-webkit-transform: perspective(1000px) rotateY(-85deg);
	-moz-transform: perspective(1000px) rotateY(-85deg);
	transform: perspective(1000px) rotateY(-85deg);
}

.doors-view .selected .door {
	box-shadow: 0 0 40px lightblue;
}

.instructions-view {
	font-size: 24pt;
}

.instructions-view dt {
	font-weight: bold;
	font-style: italic;
}

.instructions-view dd {
	opacity: 0.75;

}
