.doors-view {
	padding: 0;
	width: 100%;
	height: 400px;
}

.doors-view .doorway {
	position: relative;
	display: inline-block;
	padding: 0;
	height: 100%;
}

.doors-view .doorway .door {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	-webkit-transition: -webkit-transform 1s ease;
	-webkit-transform-origin: 0 75%;
	-moz-transition: -moz-transform 1s ease;
	-moz-transform-origin: 0 75%;
	z-index: 1;
}

.doors-view .doorway .content {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	display: block;
	z-index: 0;
}
